* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: monospace;
  /* overflow: hidden; */
}
body {
  background: url("./pexels-josh-sorenson-1714205.jpg") center/cover no-repeat;
}

.area {
  max-width: 500px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2rem;
  background: gray;
  /* font-family: monospace; */
  width: 50vw;
  height: auto;
  margin: 3rem auto;
  margin-top: 5rem;
  /* box-shadow: 2px 5px 5px darksalmon; */
  opacity: 0.5;
  transition: 0.5s ease-in;
  position: relative;
  top: -15%;
}

.area:hover {
  box-shadow: 2px 5px 5px seagreen;
  transform: scale(1.1);

  opacity: 0.8;
}

.form-items {
  letter-spacing: 1px;
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
.sideline {
  margin: 0 0.5rem;
  width: 25%;
  height: 1px;
  border-bottom: 3px solid black;
  transition: 0.5s linear;
}

@keyframes redBlink {
  0% {
    border-bottom: 4px solid rgb(182, 93, 93);
  }
  25% {
    border-bottom: 3px solid black;
  }
  50% {
    border-bottom: 4px solid rgb(182, 93, 93);
  }
  75% {
    border-bottom: 3px solid black;
  }
  100% {
    border-bottom: 4px solid rgb(182, 93, 93);
  }
}

@keyframes greenBlink {
  0% {
    border-bottom: 4px solid forestgreen;
  }
  25% {
    border-bottom: 3px solid black;
  }
  50% {
    border-bottom: 4px solid forestgreen;
  }
  75% {
    border-bottom: 3px solid black;
  }
  100% {
    border-bottom: 4px solid forestgreen;
  }
}

/* the double-down button to show the more-options */
.more {
  text-align: center;
  font-size: 1.2rem;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease-in-out;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* more-options area */
.more-options {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  padding: 1rem;
  box-sizing: border-box;
  font-weight: bold;

  width: 240px;
  height: 160px;
  border-radius: 0.25rem;
  /* background: darksalmon; */
  background: #2f3640;
  color: #f5f6fa;
  opacity: 0.8;

  /* display: none; */
  /* transform: scale(0); */
  overflow: hidden;

  transition: all 1s ease-in-out;
  /* animation: ripple 2s 1 linear forwards; */
}

.more-options:hover {
  overflow: auto;
}

/* designing scrollbar and thumb */
.more-options::-webkit-scrollbar {
  background: #171e22;
  width: 0.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
  transition: all 0.5s ease;
}
.more-options::-webkit-scrollbar-thumb {
  /* background: #471822; */
  background: seagreen;
  border-radius: 0 0.25rem 0.25rem 0;
  transition: all 0.5s ease;
}

.objects-list {
  list-style-type: none;
}
.object {
  /* margin: 0.5rem auto; */
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.5s linear;
}
.object:hover {
  /* background: rgb(148, 118, 118); */
  /* background: #5c6b7a; */
  background: seagreen;
  /* background: #471822; */
}
.object-ops {
  list-style-type: none;
  margin-left: 2rem;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s linear;
}

.show-ops {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: auto;
  /* min-height: 3rem; */
  transition: all 0.5s linear;
}
/* .opt{

} */

#collapse-icon {
  color: rgb(218, 74, 74);
}
#collapse-icon h3 {
  display: inline;
  cursor: pointer;
}

@keyframes ripple {
  0% {
    opacity: 0;
    width: 50px;
    /* transform: rotateY(90deg); */
  }
  25% {
    opacity: 0;
    width: 100px;
    left: 40%;
    transform: rotateY(180deg) scale(0.25);
  }
  50% {
    opacity: 0.4;
    width: 150px;

    left: 50%;
    transform: rotateY(360deg) scale(0.5);
  }
  75% {
    opacity: 0.6;
    width: 200px;

    left: 60%;
    transform: rotateY(180deg) scale(0.75);
  }
  100% {
    opacity: 0.8;
    width: 250px;

    left: 70%;
    transform: rotateY(360deg) scale(1);
  }
}

.dimension {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  /* font-family: monospace; */
  text-transform: capitalize;
}

#height,
#width,
#radius,
#length {
  height: 2rem;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  outline: none;
  width: 100%;
  margin-bottom: 2rem;
  transition: 0.5s ease-out;
}

#height,
#width {
  display: block;
}

#radius,
#length {
  display: none;
}

#height:focus,
#width:focus,
#radius:focus,
#length:focus {
  transform: scale(1.1);
}

#height:hover,
#width:hover,
#radius:hover,
#length:hover {
  background: seagreen;
}

/* hiding arrows in input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
  background: seagreen;
  color: white;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  /* display: block; */
  /* display block disturbs while calculating circle's attributes */
  background: forestgreen;
}

#area {
  position: relative;
  top: -15%;
  display: none;
  width: 45%;
  background: rgb(182, 93, 93);
  border-radius: 5px;
  padding: 2rem;
  box-sizing: border-box;
  margin: 0.5rem auto;
  font-size: 1.5rem;
  /* font-family: monospace; */
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* area1 */

.calc-again {
  position: relative;
  top: -15%;
  margin: 1rem auto;
  width: 20vw;
  display: none;

  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.calc-again1 {
  position: relative;
  /* top: -50%; */
  margin: 1rem auto;
  width: 20vw;
  display: none;

  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#again {
  /* position: relative;
  top: -15%; */
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
  background: seagreen;
  color: white;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

#again:hover {
  background: forestgreen;
}

#again1 {
  /* position: relative;
  top: -15%; */
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
  background: seagreen;
  color: white;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

#again1:hover {
  background: forestgreen;
}

.hide {
  display: none;
}

.show-field {
  display: block;
}

#area1 {
  position: relative;
  top: -70%;
  left: 30%;
  transform: translateX(-100%);
  display: none;
  width: 250px;
  height: 208px;
  background: rgb(182, 93, 93);
  border-radius: 5px;
  padding: 2rem;
  box-sizing: border-box;
  /* margin: 0.5rem; */
  font-size: 1.5rem;
  /* font-family: monospace; */
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.status {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: gray;
  border-left: 10px solid seagreen;
  border-radius: 4px;
  opacity: 0;
  width: 250px;
  height: 100px;
  position: relative;
  top: 11.5%;
  left: 30%;
  /* transform: translateX(-100%); */
  transition: all 0.5s linear;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
/* wrote it for status card but not used yet
3:53am 9sep 2021 */
@keyframes show1 {
  from {
    opacity: 0;
    transform: translateX(0%);
  }
  to {
    opacity: 0.5;
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 768px) {
  .area {
    top: -28%;
    width: 60vw;
  }
  .area:hover {
    transform: scale(1);
  }

  .status {
    top: 7%;
    left: 25%;
    width: 125px;
    height: 150px;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
    align-items: center;
  }
  #area1 {
    top: -80%;
    width: 125px;
    height: 250px;
    left: 25%;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
    align-items: center;
  }
  #area {
    width: 80vw;
    max-width: 500px;
    top: -28%;
    font-size: 1.3rem;
    padding: 0.75rem;
  }

  .calc-again {
    width: 15rem;
    top: -30%;
  }

  .calc-again1 {
    width: 15rem;
    /* top: -100%; */
    transform: translateY(-400%);
  }

  body {
    height: 100%;
    background: url("./pexels-josh-sorenson-1714205.jpg") center/cover no-repeat;
  }
}

/* unit selection */

.containerIn {
  margin-top: 10px;
  padding: 20px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: 0.5s ease;
}

.containerIn:hover {
  opacity: 1;
}

.select-box {
  display: flex;
  flex-direction: column;
  width: 200px;
  /* border: 2px solid green; */
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  width: 100%;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 0.25rem;
  overflow: hidden;
  order: 1;
}

.select-box .option {
  padding: 8px 24px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.select-box .selected {
  /* background: #2f3640; */
  background: seagreen;
  /* background: #471822; */

  color: #f5f6fa;
  box-sizing: border-box;
  padding: 8px 0px 8px 24px;
  cursor: pointer;
  transition: all 0.5s ease;

  width: 100%;
  /* max-height: 0; */
  /* opacity: 0; */
  transition: all 0.5s;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  position: relative;
  order: 0;
}

.select-box .selected::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: 45%;
  right: 15px;
  border: 6px solid transparent;
  border-color: #f5f6fa transparent transparent transparent;
  transition: all 0.5s ease;
}

.select-box .option:hover {
  /* background: #414b57; */
  background: seagreen;
  /* background: #471822; */
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.select-box .options-container.active {
  max-height: 100px;
  opacity: 1;
  overflow: auto;
}

.select-box .options-container.active + .selected::after {
  /* border: 6px solid transparent;
  border-color: transparent transparent #f5f6fa transparent;
  top: 10px; */
  transform: rotateX(180deg);
  top: 10px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 6px;
  background: #0d141f;
  border-radius: 0px 0.25rem 0.25rem 0px;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  /* height: 50%; */
  /* background: #414b57; */
  /* background: #471822; */
  background: seagreen;

  border-radius: 0px 0.25rem 0.25rem 0px;
}

.selected {
  letter-spacing: 2px;
}

/* test */
/* .container {
  background: red;
}

.test {
  background: green;
  transform: scale(0);
  transition: all 1s ease-out;
}

.myBox {
  height: 150px;
  width: 150px;
  background: lime;
  margin: 2rem auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: hide 2s linear forwards;
} */
